<!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2020-2021 <a href="https://www.linkedin.com/in/ali-ait-brahim-51653b201/" target="blank">Ali Ait Brahim</a>.</strong>
    All rights reserved.
    <div class="float-left d-none d-sm-inline-block">
        <a target="_blank" class="text-blue" href="https://www.linkedin.com/in/ali-ait-brahim-51653b201/"><i class="fab fa-lg fa-linkedin"></i></a>
        <a target="_blank" class="text-dark" href="https://github.com/AliAbDev11"><i class="fab fa-lg ml-1 fa-github"></i></a>
        <a target="_blank" class="text-warning" href="https://www.instagram.com/ali_ab_harry/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
</footer>